fastapi==0.115.0
uvicorn[standard]==0.32.0
opencv-python-headless==4.10.0.84
numpy==2.1.0
google-cloud-vision==3.8.1
thefuzz[speedup]==0.22.1
python-Levenshtein==0.26.1
scikit-image==0.24.0
pydantic==2.10.0
python-dotenv==1.0.1
